aiomysql==0.2.0
aiopg==1.4.0
async-timeout==4.0.3
colorama==0.4.6
loguru==0.7.2
numpy==1.24.4
pandas==2.0.3
psycopg2-binary==2.9.9
PyMySQL==1.1.0
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tzdata==2023.3
win32-setctime==1.1.0
